<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillflix</title>
  <script defer src="/js_files/index.js"></script>
  <link rel="stylesheet" href="/stylesheet/movies_info.css" />
  <link
    href="https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,400,300,200&f[]=boska@300&f[]=chillax@500,300,400&display=swap"
    rel="stylesheet" />
  <link href="https://api.fontshare.com/v2/css?f[]=clash-display@500&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<header class="header-container">
  <nav class="navbar-container">
    <h1 class="logo-name">
      <a class="header-links" href="/">CHILLFLIX</a>
      <i class="fa-brands fa-google-play"></i>
    </h1>
    <div class="search-container">
      <form  action="/search" method="GET" >
        


    <div class="mobile-search">
      <span class="my-magnify" onclick="searchbar()">
        <i id="mycolor" class="fa-solid fa-magnifying-glass">
          
      
        </i>

        
       
      </span>

    </div>
    



      <span class="my-magnify-desktop" >
        <i id="mycolor" class="fa-solid fa-magnifying-glass">
          
      
        </i>

        
       
      </span>
      



      <input class="search-bar" type="text" name="query" id="search-incoming"
        placeholder="search for movies & tv shows" autocomplete="off" />
        
        
      </form>

      

  
    </div>

    <div onclick="closemenu()" id="sidemenu" class="mobile-nav">

      <ul class="all-links">
        <li class="major-links">
          <a class="anchor-links" href="/home">HOME</a>
        </li>
        <li class="major-links">
          <a class="anchor-links" href="/movies">MOVIES</a>
        </li>
        <li class="major-links">
          <a class="anchor-links" href="/tvseries">TV SERIES</a>
        </li>
        <li class="major-links">
          <a class="anchor-links-sport" href="/topimdb">Sport +</a>
        </li>
        <li class="major-link-login">
          <a class="logins" href="/login">Logout</a>
        </li>
        <img onclick="closemenu()" class="close-menu" src="/images_files/white-close.png" alt="close-menu-list">

      </ul>
    </div>


    <img onclick="openmenu()" class="open-menu" src="/images_files/white-open.png" alt="">

  </nav>
</header>



<% if (movie) { %>
  <main class="content-area">
    <img class="img-bg" src="https://image.tmdb.org/t/p/original/<%= movie.backdrop_path %>" alt="Backdrop Image">

    <div class="all-content">
      <div class="image-area">
  
          <img class="img-content" src="https://image.tmdb.org/t/p/original/<%= movie.poster_path %>" alt="Backdrop Image">
        <% } else { %>
          <!-- Fallback image or message if no movie or backdrop path is available -->
          <img src="/images_files/mobile-web.jpg" alt="mobile" class="img-con2">
        <% } %>
      </div>

      <div class="areas">
    
            <div class=" movie-overview">
              <% if (movie) { %>
        <h2 class="mid-name">
          <%= movie.title %>
        </h2>

        <% } else { %>
          <!-- Fallback message if no movie is available -->
          <h2>ERROR </h2>
      <% } %>
  
      </div>
  
    
  
  
  
    <div class="descript">
      <% if (movie) { %>
        <p class="descript-content">
          <%= movie.overview %>
        </p>
      <% } else { %>
        <!-- Fallback message if no movie is available -->
        <p>ERROR</p>
      <% } %>
    </div>
  
    <div class="watch-area">
      <div class="watch-links">
       <span class="btn-area-link">HD</span>
   
     
       <span class="btn-area">
       
         <a class="btn-link" href="/">Watch</a>
       </span>
     </div>
   
   
     </div>
  
  
    <div class="group-access">
  
      <div class="flex-link">
  
  
        <span>Genres:</span>
        <% if (movieGenres && movieGenres.length > 0) { %>
          <% const maxGenres = 4; %>
          <% for (let i = 0; i < Math.min(movieGenres.length, maxGenres); i++) { %>
            <a href="#" data-genre-id="<%= movieGenres[i].id %>"><%= movieGenres[i].name %></a>
          <% } %>

          <% if (movieGenres.length > maxGenres) { %>
            <!-- If there are more than 4 genres, display a "More" link or message -->
            <a href="#">More...</a>
        <% } %>
    <% } else { %>
        <p>No genres available</p>
    <% } %>
        
      </div>
  
  
      <div class="flex-link">
  
  
        <span>
          Casts:
        </span>
        <p class="dura">
          <% movieCast.forEach(member => { %>
              <%= member.name %>, 
          <% }); %></p>
      </div>
  
  
  
      <div class="flex-link">
  
  
        <span>
          Duration:
        </span>
        <p class="dura"><%= duration %> min</p>
  
      </div>
  
  
  
      <div class="flex-link">
  
  
        <span>
          Country:
        </span>
        <% countries.forEach(country => { %>
          <p class="dura"><%= country.name %></p>
      <% }); %>
  
      </div>
  
  
  
  
      <div class="flex-link">
  
  
        <span>
          Language:
        </span>
        <% languages.forEach(language => { %>
          <p class="dura"><%= language.name %></p>
      <% }); %>
  
      </div>
  
  
  
  
  
  
  
    </div>

  </div>

  </div>



  
  
  
  
  
  
  
  
  
  </main>





  




<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const movieId = window.location.hash.substring(1); // Get movie ID from URL parameter
    if (movieId) {
        const movieElement = document.getElementById(movieId);
        if (movieElement) {
            movieElement.scrollIntoView({ behavior: 'smooth' }); // Scroll to movie section
        }
    }
});

</script>



</body>

</html>